.header{
    background-color: rgb(255, 253, 150);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    font-size: 24px;
    font-family: Verdana;
    color:rgb(0, 0, 0)2, 255);
    font-weight: bolder;
}

.propaganda{
    height: 500px;
    background-color: black;
    background: url("cortina\ 1.jpg");
    background size: contain;
    background-repeat: no-repeat;

}